/*
#perfil{
    margin-top: -10em;
    padding-left: 1em;
    text-align: center;
 }
*/

nav{
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    display: inline;
}

#name{
    font-size: x-large;
}

#logos{
    font-size: x-large;
}

.edu{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
}

.card{
    padding-left: 1em;
    margin: 0.5em;
}

.pequeño{
    color: grey;
    font-weight: bold;
}

.subtitulos{
    font-weight: bold;
}

.barras{
    padding: 2em;
}

/*Breakpoints*/

@media only screen and (max-width: 600px){
    #name{
        font-size: large;
    }

    #logos{
        font-size: large;       
    }

}

@media only screen and (max-width: 490px){
    #name{
        font-size: small;
    }

    #logos{
        font-size: small;
    }

}


